
<ion-content [fullscreen]="true">
  <div>
    <ion-card color="dark">
      <img src="../../assets/videoapp.png" alt="logo">
      <ion-card-title class="ion-text-center">Videos App</ion-card-title>
      <ion-item color="dark">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" autocomplete="off" [(ngModel)]="email"></ion-input>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button expand="full" fill="outline" color="primary" (click)="login(email, password)">
        Entrar
      </ion-button>
      <ion-button expand="full" fill="clear" color="secondary">
        Registrar
      </ion-button>
    </ion-card>
  </div>
</ion-content>
