<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
      <ion-item>
        <ion-thumbnail>
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6vVRYbIjDLMMwZJ2jo6enrdN76U.jpg" />
        </ion-thumbnail>
        <ion-label>
          <div>
            <h1>Homem-Aranha: Sem Volta Para Casa (2021)</h1>
            <p>16/12/2021 (BR) - 2h 30m</p>
            <p>Ação, Aventura, Ficção científica</p>
          </div>
        </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
