<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>

    <ion-item-sliding *ngFor="let movie of movieList">
      <ion-item lines="full">
        <ion-thumbnail>
          <img [src]="movie.img" alt="logo movie" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap ion-padding-start">
          <div>
            <h1> {{ movie.name }}</h1>
            <p> {{ movie.release }} - {{ movie.time }}</p>
            <ion-badge color='light' *ngFor="let g of movie.genre">
              {{ g }}
            </ion-badge>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label> {{ movie.classification }}</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="laranja"(click)="showFavoriteAlert()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
